    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER labtainer_xfer/
    LAB_MASTER_SEED sshlab_jkhosali_master_seed
    REGISTRY domanhcuong2502
NETWORK LOCAL_LAN
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
NETWORK REMOTE_LAN
     MASK 172.30.0.0/24
     GATEWAY 172.30.0.100
CONTAINER jumpbox
     USER ubuntu
     X11 NO
     TERMINALS 0
     ADD-HOST server:172.30.0.5
     LOCAL_LAN 172.20.0.3
     REMOTE_LAN 172.30.0.3
CONTAINER client
     USER ubuntu
     X11 NO
     ADD-HOST jumpbox:172.20.0.3
     LOCAL_LAN 172.20.0.2
CONTAINER server
     USER ubuntu
     X11 NO
     TERMINALS 0
     REMOTE_LAN 172.30.0.5
CONTAINER attacker
     USER attacker
     X11 NO
     LOCAL_LAN 172.20.0.5
